{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}
        {{ title }} - {{ _('Blog') }}
    {% else %}
        {{ _('Welcome to Blog') }}!
    {% endif %}
{% endblock%}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ _('Navigation') }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">{{ _('Home') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('explore') }}">{{ _('Explore') }}</a>
                    </li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">{{ _('Login') }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('user', username = current_user.username) }}">{{ _('Profile') }}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link disabled">About</a>
                    </li>
                </ul>
                {% if g.search_form %}
                <form class="d-flex" role="search" method="get" action="{{ url_for('search') }}">
                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}

        {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    
    <script>
        function translate(sourceElement, destElement, sourceLanguage, destLanguage) {
            $(destElement).html('<img src="{{ url_for('static', filename='loading.gif') }}">')
            $.post('/translate', {
                text: $(sourceElement).text(),
                source_language: sourceLanguage,
                dest_language: destLanguage
            }).done(function (response) {
                $(destElement).text(response['text'])
            }).fail(function () {
                $(destElement).text("{{_('Error: Could not contact server')}}");
            });
        }
    </script>
{% endblock %}
